---
title: Using APIs in 11ty
layout: base
---
    <main>
        <ul>
            <li><a href="instructors/">Instructors</a></li>
            <li><a href="todos/">Todos</a></li>
            <li><a href="todos-user1/">Todos for User 1</a></li>
            <li><a href="nobel-prizes/">Nobel Prizes</a></li>
            <li><a href="laureates/">Nobel Laureates</a></li>        
        </ul>
    </main>
